<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http;//mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <typeAlias alias="Long" type="java.lang.Long" />
        <typeAlias alias="String" type="java.lang.String" />
        <typeAlias alias="HashMap" type="java.util.HashMap" />
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
        <typeAlias type="java.util.ArrayList" alias="ArrayList" />
        <typeAlias type="java.util.List" alias="List" />
        <typeAlias type="java.util.LinkedList" alias="LinkedList" />
        <!-- 下面是具体类对应的实体类别名 -->
    </typeAliases>

    <plugins>
        <!-- 分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageHelper" >
            <property name="dialect" value="oracle" />
            <!-- 下面参数默认为false，若为true，使用BowBounds分页会进行count查询-->
            <property name="rowBoundWithCount" value="true" />
        </plugin>
    </plugins>

</configuration>